<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Register.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css">
    <link rel="icon" href="{{ url_for('static', filename='Elements/icon.png') }}">
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <title>Register</title>
</head>
<body id="body" style="background-color: #5ce6ff;">
    <div id="container">
        <div class="m-4">
            <!-- Messaggi Flash (es. Password non coincidenti o Email usata) -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger">
                  {% for message in messages %}
                    <div>{{ message }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('register') }}">
                <div class="mb-3">
                    <label for="nameInput" class="form-label" style="font-weight: bold;">Nome</label>
                    <input type="text" name="name" class="form-control" id="nameInput" placeholder="Nome" required>
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label" style="font-weight: bold;">Nome Utente / E-mail</label>
                    <input type="text" name="email" class="form-control" id="emailInput" placeholder="E-Mail" required>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label" style="font-weight: bold;">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPasswordInput" class="form-label" style="font-weight: bold;">Conferma Password</label>
                    <input type="password" name="confirm_password" class="form-control" id="confirmPasswordInput" placeholder="Conferma Password" required>
                    <small>Non ci sarà modo di reimpostare le credenziali se dimenticate</small>
                </div>
                <input type="checkbox" id="checkbox"><label for="checkbox">Ho Letto e Accetto la <a href="{{ url_for('policy') }}" target="_blank">Privacy Policy</a></label>
                <br>
                <button type="submit" class="btn btn-primary" id="submit-button" disabled>Conferma</button>
            </form>
        </div>
    </div>
</body>
</html>